<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- ✅ Required for network requests -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SameTeamAppAndroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Main Screen -->
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Screen -->
        <activity android:name=".SignIn" android:exported="false" />

        <!-- Registration Screen -->
        <activity android:name=".SignUp" android:exported="false" />

        <!-- Dashboards -->
        <activity android:name=".ParentDashboard" android:exported="false" />
        <activity android:name=".ChildDashboard" android:exported="false" />

        <activity
            android:name=".ChildRewards" android:exported="false" />
        <activity
            android:name=".ParentRewards" android:exported="false" />
        <activity
            android:name=".ChoresList" android:exported="false" />
        <activity
            android:name=".AddChore" android:exported="false" />

    </application>

</manifest>